---
layout: page
---

{% include carousel.html %}

<div class="container">
    <!-- home -->
    <div class="row featurette" id="home">
        {% include home.html %}
    </div>

    <hr class="featurette-divider" />

    <!-- project -->
    <div class="row featurette" id="project">
        {% include project.html %}
    </div>

    <hr class="featurette-divider" />

    <!-- why explore -->
    <div class="row featurette" id="why-explore">
        {% include why-explore.html %}
    </div>

    <hr class="featurette-divider" />

    <!-- about-us -->
    <div class="row featurette" id="about-us">
        {% include about-us.html %}
    </div>

    <hr class="featurette-divider" />

    <!-- participate -->
    <div class="row featurette" id="participate">
        {% include participate.html %}
    </div>

    <hr class="featurette-divider" />

    <!-- partners -->
    <div class="row featurette" id="partners">
        {% include partners.html %}
    </div>

    <hr class="featurette-divider" />

    <!-- contact -->
    <div class="row featurette" id="contact">
        {% include contact.html %}
    </div>

</div>
