<!-- .row continued -->
    <div class="col-md-12">
        <h1>Wer sind wir?</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-push-6">
        <p class="featurette-img-description">
            Zu dem Team von Explore gehören in erster Linie Mentees, Mentoren und die Projektleiter. Die Mentees sind zwischen 11 und 14 Jahren alt und gehen auf die Gerhard-Rohlfs-Oberschule. Gemeinsam mit ihrem individuellen Mentor, einem/r Student_in der Jacobs Universität, unternehmen sie Ausflüge.
        </p>
    </div>
    <div class="col-md-6 col-md-pull-6">
        <img src="img/team.jpg" class="img-responsive center-block" alt="Explore Bremen Team">
        <p>Das Explore Bremen Organisationsteam</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p class="featurette-img-description">
            Das Leitungsteam, welches ebenfalls aus Studierenden der Jacobs University besteht, sorgt dabei dafür, dass sich Mentee und Mentor miteinander wohlfühlen, die finanziellen Mittel für die Unternehmungen zur Verfügung stehen und organisiert regelmäßig Ausflüge sowie reflektive Treffen für die gesamte Gruppe. Außerdem kooperiert Explore Bremen mit einer Psychologin, die insbesondere Mentoren in ihrer Tätigkeit zur Seite steht, sowie mit den Sozialarbeitern der Gerhard-Rohlfs-Oberschule.
        </p>
    </div>
    <div class="col-md-6">
        <img src="img/mentors.jpg" class="img-responsive center-block" alt="Explore Bremen Mentoren">
        <p>Explore Bremen Mentoren</p>
    </div>
<!-- .row open -->
