<div class="col-md-12">
    <h1>Wie kann ich mitmachen?</h1>
    <p>Du hast Lust, dich für und mit Jugendlichen zu engagieren? Du möchtest einen persönlichen Beitrag zum Zusammenleben in Bremen-Nord leisten? Du wolltest schon immer der große Bruder oder die große Schwester für jemanden sein? Du suchst nach einer neuen, bereichernden Herausforderung? Du sprichst schon Deutsch und möchtest deine Sprachkenntnisse im Alltag vertiefen? Du teilst unseren Enthusiasmus für gleiche Bildungschancen? Dann schreib uns, sprich uns an oder komm vorbei in unserem Explore-Raum im Student Acitvity Center auf dem Campus der Jacobs University.</p>
</div>
