<div class="col-md-12">
    <h1>Partner</h1>
</div>
<div class="col-md-3">
    <h3 class="partner-heading">Kultusministerium Bremen</h3>
    <img src="img/partners/bremen.png" class="img-responsive center-block" alt="Kultusministerium Bremen">
</div>
<div class="col-md-3">
    <h3 class="partner-heading">Children: Jugend Hilft</h3>
    <img src="img/partners/jugend_hilft_transparent.png" class="img-responsive center-block" alt="Children: Jugend Hilft">
</div>
<div class="col-md-3">
    <h3>GIVE FUND: Jacobs University</h3>
    <img src="img/partners/give.jpg" class="img-responsive center-block" alt="GIVE FUND: Jacobs University">
</div>
<div class="col-md-3">
    <h3 class="partner-heading">Jacobs University Campus Life</h3>
    <img src="img/partners/jacobs_transparent.png" class="img-responsive center-block" alt="Jacobs University Campus Life">
</div>
<div class="col-md-3">
    <h3 class="partner-heading">Gerhard Rohlfs Oberschule</h3>
    <img src="img/partners/gerhard_rohlfs_oberschule.jpg" class="img-responsive center-block" alt="Gerhard Rohlfs Oberschule">
</div>
