<div class="col-md-12">
    <h1>Warum „Explore”?</h1>

    <p>„Explore” oder „Entdecken” heißt es vor allem bei den Ausflügen: im Museum, im Theater, im Zoo, im Klimahaus, in der Bücherei oder auf dem Universitätscampus oder...  – überall gibt es etwas Spannendes zu erleben und Neues zu entdecken, wozu Explore Bremen die Möglichkeit schafft. Dabei nehmen die Mentees und Mentoren nicht nur äußerlich Neues wahr, sondern wachsen auch in ihrer Persönlichkeit. Das Entdecken eigener Fähigkeiten und Vorlieben geht somit in den reflektiven Gruppentreffen und darüber hinaus weiter.</p>
</div>
